/* all codes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Inconsolata', monospace, 'PT Serif', serif;
    background: #f3ecec;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: .9;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .8);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.line-clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* header */

header {
    background-image: url(img/beach-g78273bab5_1920.jpg);
    background-size: cover;
    background-position: 25% 50%;
    height: 40rem;
    z-index: -1;
    opacity: .9;
    padding-top: 15rem;
}

#header_h1,
#header_p1 {
    background: rgb(149, 200, 251);
    color: black;
    opacity: .6;
}


/* main */

.left_side {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left_side .card-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.left_side .card-text {
    text-align: justify;
    text-indent: .8rem;
}

.left_side img {
    height: 25rem;
}

#visited_hit ul li {
    box-shadow: 1px 1px 4px 1px rgba(61, 60, 60, 0.4);
    color: black;
    margin-top: .5rem;
}

#visited_hit ul li:hover {
    box-shadow: 1px 1px 4px 1px rgba(230, 175, 175, 0.3);
}

#tag_cloud .card-body a {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .8);
    padding: .3rem .3rem;
}

#tag_cloud .card-body a:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .9);
}


/* footer */

footer {
    min-height: 20rem;
    width: auto;
    background: black;
    color: white;
}